<div>
<div ng-if="config.state == 'allowchange' || config.state == 'viewonly'">
	<h3>{{config.poll_title}}</h3>
	<p>{{config.poll_description}}</p>
</div>
<div ng-if="config.state == 'create'">
	<span>Poll Information</span><br/>
	Title : <input type="text" ng-model="config.poll_title" placeholder="type the reason" /><br/>
	Small Note : <textarea ng-model="config.poll_description"></textarea>
	
</div>
<div ng-if="config.state == 'create'">Poll{{config.type=='checkboxes' ? '-Checkbox' : '-Radio'}} </div>
<ul style="list-style: none;" >
	<li ng-repeat="poll in config.polls" ng-if="config.type=='checkboxes'">
		<div><input   ng-change="changed($index)" ng-model="poll.value" ng-checked="poll.value" ng-disabled="config.state == 'create' || config.state == 'viewonly'" type="checkbox" />
		    &nbsp;{{poll.text}}
			 <span ng-if="config.state == 'create'" style="margin-left: 10px; font-size: 16px; font-weight: bold;" ng-click="removeItem($index)">(x)</span>
			 <span ng-if="config.state == 'allowchange' || config.state == 'viewonly' " style="margin-left: 10px; font-size: 16px; font-weight: bold;" >{{poll.count}}</span>
		</div>
	</li>
	<li ng-repeat="poll in config.polls" ng-if="config.type=='radio'">
		<div><input ng-change="changed($index)" ng-model="poll.value" ng-checked="poll.value" ng-disabled="config.state == 'create' || config.state == 'viewonly'" type="radio" name="item-group" />&nbsp;{{poll.text}}
			 <span ng-if="config.state == 'create'" style="margin-left: 10px; font-size: 16px; font-weight: bold;" ng-click="removeItem($index)">(x)</span>
			 <span ng-if="config.state == 'allowchange' || config.state == 'viewonly' " style="margin-left: 10px; font-size: 16px; font-weight: bold;" >{{poll.count}}</span>
		</div>
	</li>
	<li ng-if="config.state == 'create'">
		<div>
			<input type="text" placeholder="type your poll item" ng-model="poolitem" style="width: 200px;margin-top: 11px;" ng-keydown="enterpressed($event,poolitem)" >
		</div>
	</li>
</ul>
</div>